@mixin displayFlexCenter($direction: row, $gap: 0, $wrap: nowrap) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin displayFlex($ai, $jc, $direction, $gap, $wrap) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin respond($breakpoint, $minmax: min) {
  @if ($minmax == min) {
    @if ($breakpoint == xlarge) {
      @media (min-width: 1280px) {
        @content;
      }
    }
    @if ($breakpoint == large) {
      @media (min-width: 1024px) {
        @content;
      }
    }
    @if ($breakpoint == medium) {
      @media (min-width: 768px) {
        @content;
      }
    }
    @if ($breakpoint == small) {
      @media (min-width: 480px) {
        @content;
      }
    }
  } @else {
    @if ($breakpoint == xlarge) {
      @media (max-width: 1280px) {
        @content;
      }
    }
    @if ($breakpoint == large) {
      @media (max-width: 1024px) {
        @content;
      }
    }
    @if ($breakpoint == medium) {
      @media (max-width: 768px) {
        @content;
      }
    }
    @if ($breakpoint == small) {
      @media (max-width: 480px) {
        @content;
      }
    }
  }
}
